{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>

            {% if user.is_authenticated %}
            {% if user.pk == post.author.pk %}
            <div class="date">
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                    Edit
                </a>
            </div>
            {% endif %}
            {% endif %}

            <p>author: {{ post.author.username }}</p>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </article>
    {% endfor %}
{% endblock %}